.process-wrap {
    display: flex;
    position: relative;
    .single-process-wrap {
        text-align: center;
        position: relative;
        @media #{$md} {
            margin-top: 60px;
        }
        @media #{$xs} {
            margin-top: 30px;
        }
        .process-icon {
            width: 150px;
            height: 150px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            img {
                width: 70px;
            }
        }
        .process-content {
            padding: 25px;
            h3{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
        .counting-box {
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: $primary_color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(50px, 10px);
            span{
                font-size: 18px;
                font-weight: 600;
            }
            &.top {
                right: auto;
                top: auto;
                bottom: 55%;
                left: 50px;
                @media #{$md} {
                    display: none;
                }
                @media #{$xs} {
                    display: none;
                }
            }
            @media #{$md} {
                display: none;
            }
            @media #{$xs} {
                display: none;
            }

        }

        .counting-box:before {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: $black;
            font-size: 18px;
            font-weight: 600;
            transition: all 100ms linear;
            transition-delay: 0.1s;
        }

    }

}


.process-wrap .col-xl-3:not(:last-child) .process-icon::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    right: -100px;
    top: 50%;
    bottom: 0px;
    border-top: 2px dashed #FCC300;
    opacity: 0.4;
    @media #{$md} {
        display: none;
    }
    @media #{$xs} {
        display: none;
    }
}

// Process # 02

.process-area{
    background-image: url(../img/process/process-bg.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    z-index: 1;
    
    &:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(290deg, #134025 40%, rgb(5 58 26 / 94%) 100%);
        z-index: -1;
    }
}




.process-btn .main-btn {
    margin-right: 20px;
    margin-top: 20px;
}

.process-item-wrap {
    margin-top: 50px;
    display: flex;
    @media #{$md} {
        flex-direction: column;
    }
    @media #{$xs} {
        flex-direction: column;
    }
    
}

.process-single {
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 7px;
	position: relative;
    margin-right: 30px;

	@media #{$lg} {
		margin-right: 20px;
	}
	@media #{$md} {
		margin-right: 40px;
        margin-bottom: 40px;
	}
	@media #{$xs} {
		margin-right: 0;
        margin-bottom: 40px;
	}
	i {
		background: $theme_color;
		padding: 10px;
		border-radius: 50px;
		color: #fff;
		font-size: 17px;
	}
}

.process-title h5 {
    font-size: 22px;
    margin: 20px 0;
}
   
.process-desc p {
	color: #9b9b9b;
	font-size: 16px;
	line-height: 24px;
}


.video-section{
    background-image: url(../img/video-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    margin-bottom: -85px;
}

.popup-video{
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.video-section i {
    font-size: 30px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;    
}

.popup-video span {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
}

.process-item-wrap .owl-dots button.owl-dot span {
    width: 35px;
    height: 3px;
    background: #6b7475;
    margin-right: 10px;
    margin-top: 20px;
}

.process-item-wrap .owl-dots button.owl-dot.active span {
    width: 35px;
    height: 6px;
    background: $theme_color;
}

.process-item-wrap .owl-dots {
    text-align: center;
    margin-top: 25px;
}

.more-process p {
    font-size: 17px;
}

.process-btn a {
    margin-right: 20px;
}

.process-btn {
    margin-top: 30px;
}

.process-single:after {
    position: absolute;
    content: "01";
    top: 0;
    right: 0;
    background: #DFB163;
    color: #fff;
    padding: 15px;
    border-radius: 0px 6px 0px 15px;
    font-size: 20px;
}

.process-single.two::after {
    content: "02";
}
.process-single.three::after {
    content: "03";
}
.process-single.four::after {
    content: "04";
}

// Process # 03

#process-3{

    .project-list button {
        border: none;
        margin: 0;
        color: #333;
        padding: 12px 33px;
        border-right: 1px solid #ddd;
    
        @media #{$xs} {        
            margin: 10px 10px;
        }
    }
    
    .project-list button:nth-of-type(3) {
        border-right: none;
    }
    
    .project-list button.nav-link {
        font-size: 18px;
    }
    
    .project-list button.nav-link.active {
        background: $theme_color;
        color: #fff !important;
    }
    
    .project-list .nav-link:focus, .nav-link:hover{
        color: #10102D;
    }
    
    .process-bg-wrap {
        @media #{$xs} {
            margin-top: 30px;        
        }
      }


}



