.testimonial-inner {
	display: flex;

	@media#{$xs} {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.testimonial-img {
	position: relative;
	border: 2px solid $primary-color;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	padding: 5px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-right: 35px;

	@media #{$xs}{
		margin-bottom: 20px;
	}
}

.testimonial-img img {
	border-radius: 50%;

}


.testimonial-content p {
	font-size: 24px;
	line-height: 1.7;
	font-style: italic;
	@media #{$lg}{
		font-size: 20px;
		line-height: 1.5;
	}
	@media #{$xs}{
		font-size: 18px;
		line-height: 1.5;
	}
}

.testimonial-meta {
	display: flex;
	align-items: center;
	margin-top: 30px;

	@media #{$xs}{
		justify-content: center;
	}
}

.testimonial-meta h6 {
	color: #444;
	font-size: 20px;
	margin-right: 7px;
}



// Testimonial # 02


.testimonial-area-2 {
	position: relative;
	display: block;
	background-color: #edf3f6;
	padding: 120px 0 200px;
	z-index: 1;
	@media #{$xs}{
		padding: 60px 0 140px;
	}
}

.testimonial-map {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	width: 1170px;
	height: 566px;
	transform: translateX(-50%);
	opacity: 0.04;
	z-index: -1;
}

.testimonial_carousel {
	position: relative;
	display: block;
}

.testimonial_single {
	position: relative;
	display: block;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 60px 0px rgb(0, 0, 0, 0.05);
	padding: 60px 60px 70px;
	@media #{$md}{		
		margin-top: 30px;
	}
	@media #{$xs}{
		padding: 40px 40px 60px;
		margin-top: 30px;
	}
}

.testimonial_single:before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	background-color: var(--arnav-base);
	height: 2px;
	transition: transform 500ms ease;
	transform: scale(0, 1);
	transform-origin: left center;
}

.testimonial_single:hover:before {
	transform: scale(1, 1);
	transform-origin: right center;
}

.testimonial_rating {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0;
	padding-bottom: 18px;
}

.testimonial_rating i {
	font-size: 15px;
	color: $primary_color;
}

.testimonial_rating i+i {
	margin-left: 5px;
}

.testimonial_text {
	font-size: 17px;
	margin: 0;
	font-style: italic;
	line-height: 30px;
}

.testimonial_author {
	position: absolute;
	bottom: -100px;
	left: 60px;
}

.testimonial_author-img {
	position: relative;
	display: block;
	border-radius: 50%;
}

.testimonial_author-img img {
	border-radius: 50%;
	border: 2px solid transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	width: 80px !important;
}

.testimonial_single:hover .testimonial-one_author-img img {
	border: 2px solid $theme_color;
}

.testimonial_author-name {
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 12px;
}

.testimonial_author-title {
	font-size: 16px;
	margin: 0;
	line-height: 24px;
}

.testimonial_quote-icon {
	position: absolute;
	top: 30px;
	right: 30px;
}

.testimonial_carousel.owl-carousel .owl-stage-outer {
	overflow: visible;
	padding: 0 0 0;
}

.testimonial_carousel .owl-stage-outer .owl-item {
	opacity: 0;
	transition: all 500ms linear;
	transition-delay: 0.1s;
}

.testimonial_carousel .owl-stage-outer .owl-item.active {
	opacity: 1;
	transition: all 200ms linear;
}

// Testimonial # 03

#testimonial-3 {
	.testimonial-bg {
		max-width: calc(100% - 60px);

		@media #{$md} {
			max-width: calc(100% - 60px);
		}

		@media #{$xs} {
			max-width: calc(100% - 0px);
		}
	}

	.testimonial-content {
		@media #{$xs} {
			margin-top: 30px;
		}
	}

	.testimonial-text h3 {
		margin: 30px 0;
		line-height: 1.3;

		@media #{$md} {
			font-size: 20px;
			margin: 15px 0;
			text-align: justify;
		}
	}

	.testimonial-text p {
		margin-bottom: 30px;

		@media #{$md} {
			text-align: justify;
		}
	}

	.testimonial-author {
		display: flex;
		align-items: center;

		h6 {
			color: inherit;
			margin-top: 0;
		}
	}

	.author-img img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	.author-desc {
		padding-left: 25px;
	}

	.author-desc h5 {
		font-size: 22px;
		margin-bottom: 5px;

		@media #{$xs} {
			font-size: 18px;
		}
	}

	.author-desc h6 {
		font-size: 18px;
		opacity: .5;

		@media #{$xs} {
			font-size: 16px;
		}
	}

	.testimonial-content {
		@media #{$md}{
			margin-top: 60px;
			padding-right: 60px;
		}
		@media #{$xs}{
			margin-top: 60px;
		}
	  }
}
