
// Font Family
$barlaw: 'Barlow', sans-serif;
$barlaw_condensed: 'Barlow Condensed', sans-serif;;


// Colors ---------------

$theme_color:#097e51;
$primary_color:#DFB163;
$headline_color: #024731;


$white:#fff;
$black:#333;
$black-2:#222;
$gray_green:#E5F0EC;
$gray:#686a6f;
$gray-2:#f6f6f6;
$gray-3: #eee;


// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';



