	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/11/2019 18:17
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/Flaticon.eot");
	    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	        url("../fonts/Flaticon.woff2") format("woff2"),
	        url("../fonts/Flaticon.woff") format("woff"),
	        url("../fonts/Flaticon.ttf") format("truetype"),
	        url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: 20px;
	    font-style: normal;
	}

.flaticon-001-coding:before { content: "\f100"; }
.flaticon-002-layout:before { content: "\f101"; }
.flaticon-003-project:before { content: "\f102"; }
.flaticon-004-design:before { content: "\f103"; }
.flaticon-005-responsive:before { content: "\f104"; }
.flaticon-006-server:before { content: "\f105"; }
.flaticon-007-resize:before { content: "\f106"; }
.flaticon-008-web-development:before { content: "\f107"; }
.flaticon-009-pipette:before { content: "\f108"; }
.flaticon-010-download:before { content: "\f109"; }
.flaticon-011-view:before { content: "\f10a"; }
.flaticon-012-pixel:before { content: "\f10b"; }
.flaticon-013-layers:before { content: "\f10c"; }
.flaticon-014-portfolio:before { content: "\f10d"; }
.flaticon-015-app-development:before { content: "\f10e"; }
.flaticon-016-internet:before { content: "\f10f"; }
.flaticon-017-inspiration:before { content: "\f110"; }
.flaticon-018-vector:before { content: "\f111"; }
.flaticon-019-management:before { content: "\f112"; }
.flaticon-020-document:before { content: "\f113"; }
.flaticon-021-branding:before { content: "\f114"; }
.flaticon-022-access:before { content: "\f115"; }
.flaticon-023-cms:before { content: "\f116"; }
.flaticon-024-link:before { content: "\f117"; }
.flaticon-025-mobile-app:before { content: "\f118"; }
.flaticon-026-3d-modeling:before { content: "\f119"; }
.flaticon-027-video-editing:before { content: "\f11a"; }
.flaticon-028-typography:before { content: "\f11b"; }
.flaticon-029-settings:before { content: "\f11c"; }
.flaticon-030-upload:before { content: "\f11d"; }
.flaticon-031-conversation:before { content: "\f11e"; }
.flaticon-032-settings-1:before { content: "\f11f"; }
.flaticon-033-css:before { content: "\f120"; }
.flaticon-034-usability:before { content: "\f121"; }
.flaticon-035-testing:before { content: "\f122"; }
.flaticon-036-content:before { content: "\f123"; }
.flaticon-037-wireframe:before { content: "\f124"; }
.flaticon-038-creativity:before { content: "\f125"; }
.flaticon-039-sharing:before { content: "\f126"; }
.flaticon-040-timer:before { content: "\f127"; }
.flaticon-041-pyramid:before { content: "\f128"; }
.flaticon-042-solution:before { content: "\f129"; }
.flaticon-043-target:before { content: "\f12a"; }
.flaticon-044-photo-camera:before { content: "\f12b"; }
.flaticon-045-diamond:before { content: "\f12c"; }
.flaticon-046-prototype:before { content: "\f12d"; }
.flaticon-047-wireframes:before { content: "\f12e"; }
.flaticon-048-launch:before { content: "\f12f"; }
.flaticon-049-design-1:before { content: "\f130"; }
.flaticon-050-analytics:before { content: "\f131"; }